/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */
.d-flex {
    display: flex;
    flex-direction: row;
}


/* header */
header {
    height: 40px;
    background-color: #ADD8E6;
}

.container-header  {
     height: 100%;
     align-items: center;
     justify-content: center;
     margin: 0 500px;
   
}

.logo-header, .nav-header, .login-header {
    border: 1px dashed black;
    background-color:  #DAA41F;
}

.nav-header {
    flex-grow: 2;
    text-align: center;
}

.logo-header, .login-header {
    flex-grow: 1;
}

/* main-header jumbotron*/

.container-jumbotron {
    height: 500px;
    background-color: #0A0C8B;
    justify-content: center;
    align-items: center;
}

.block-jumbotron {
    width: 800px;
    height: 400px;
    background-color: #EE82EE;
    border: 1px dashed black;
}

/* main column */
.container-column, .container-column-mid {
    height: 600px;
    justify-content: center;
    align-items: center;
}

.left-column {
    width: 40%;
    background-color: #2C90FF;
}

.right-column {
    width: 25%;
    background-color: #FCC0CB;
}

.left-column, .right-column, .left-column-middle, .right-column-middle{
    height: 500px;
    border: 1px dashed black;
}

/* main column middle */

.left-column-middle {
    width: 25%;
    background-color: #FCC0CB;
}

.right-column-middle {
    width: 40%;
    background-color: #2C90FF;
}

.container-column-mid {
    background-color: #D3D3D3;
}

.container-square {
    height: 900px;
    background-color: #D3D3D3;
    justify-content: center;
    align-items: center;
}

.square-block {
    width: 65%;
    height: 800px;
    background-color: #228B22;
    border: 1px dashed black;
}